<template>

  <q-page class="justify-center">
    <div class="q-pa-xl">
      <div class="row justify-center">
        <div class="col">
          <q-card class="my-card q-ma-md">
            <q-card-section class="bg-primary text-white">
              <div class="text-h6">Devices</div>
              <div class="text-subtitle2">List of devices</div>
            </q-card-section>
            <q-separator />
            <q-card-section class="">
              <q-select @input="getReminders(selectedDevice)" v-model="selectedDevice" :options="deviceNames" label="Select device"/>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn @click="getDevices">Get devices</q-btn>
            </q-card-actions>
          </q-card>
        </div>

        <div class="col">
          <q-card class="my-card q-ma-md">
              <q-card-section class="bg-primary text-white">
                <div class="text-h6">Reminders</div>
                <div class="text-subtitle2">All reminders</div>
              </q-card-section>
              <q-separator />
              <q-card-section class="">
                <q-scroll-area style="height: 250px; max-width: 100%">
                  <q-list bordered separator>

                    <template v-for="(reminder, index) in reminders" >
                      <q-item clickable v-ripple :key="index" @click="getReminderActions(reminder.id)">
                        <q-item-section>
                          <q-item-label overline>{{ reminder.name }}</q-item-label>
                          <q-item-label>{{ reminder.time }}</q-item-label>
                          <q-item-label caption>{{ reminder.prio }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-list>
                </q-scroll-area>
                
              </q-card-section>

              <q-card-actions align="right">
                <q-btn @click="newReminder = true" flat>Create new reminder</q-btn>
              </q-card-actions>
          </q-card>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <q-card class="my-card q-ma-md">
            <q-card-section class="bg-secondary text-white">
              <div class="text-h6">The reminder actions</div>
              <div class="text-subtitle2">List of actions connected to your reminder</div>
            </q-card-section>
            <q-separator />
            <q-card-section class="">
              <q-scroll-area style="height: 200px; max-width: 100%">
                  <q-list bordered separator>

                    <template v-for="(action, index) in reminderActions" >
                      <q-item clickable v-ripple :key="index">
                        <q-item-section>
                          <q-item-label overline>{{ action.message }}</q-item-label>
                          <q-item-label>{{ action.state }}</q-item-label>
                          <q-item-label caption>{{ action.created_at }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-list>
                </q-scroll-area>
            </q-card-section> 
          </q-card>
        </div>

        <div class="col">
          <q-card class="my-card q-ma-md">
            <q-card-section class="bg-primary text-white">
              <div class="text-h6">Weather today</div>
            </q-card-section>
            <q-separator />
            <q-card-section class="">
              {{ themprature }} C
            </q-card-section>
          </q-card>
        </div>
      </div>

    </div>

   <q-dialog v-model="newReminder">
      <q-card style="max-width: 1500px;width:1000px;">
        <q-card-section>
          <div class="text-h6">Create new reminder</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-form
            @submit="createNewReminder"
            class="q-gutter-md"
          >

            <div class="q-gutter-md">
              {{selectedDevice}}
            </div>

            <q-input
              filled
              v-model="newReminderData.name"
              label="Reminder name"
              hint="How do you want the reminder to be called?"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />

            <q-select 
              v-model="newReminderData.prio" 
              :options="['high', 'medium', 'low']"
               label="Priority"
               hint="High cannot be posponed and uses all allert methods"
            />
              <div class="q-gutter-md row items-start">
                <q-date v-model="newReminderData.time" mask="YYYY-MM-DD HH:mm" color="purple" />
                <q-time v-model="newReminderData.time" mask="YYYY-MM-DD HH:mm" color="purple" />
                <q-btn label="Check with google" v-if="!loggedin" @click="handleAuthClick()" color="primary"/>
                <q-btn label="Check with google" v-if="loggedin" @click="getEvents()" color="primary"/>
              </div>
            <div>
              <q-btn label="Submit" type="submit" @click="getRemindersDelayed" color="primary"/>
              <q-btn flat label="Cancel" v-close-popup />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog color="green" v-model="alertPopup" seamless position="bottom">
      <q-card style="width: 350px">
        <q-card-section class="row items-center no-wrap">
          {{ alertMessage }}
          <q-space />
          <q-btn flat round icon="close" v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>


  </q-page>
</template>

<script>

import axios from 'axios';

/* Google calender api code */
const CLIENT_ID = '903378065020-v9bara4ejh3fhhtcuhtsdv0r8nao1t0r.apps.googleusercontent.com';
const API_KEY = 'AIzaSyAsGVEYe6xOViu8wxuj5xVvGQvBOod0_sw';
const SCOPES = "https://www.googleapis.com/auth/calendar.readonly";

export default { 
  name: 'PageIndex',
  data() {
    return {
      devices: [],
      selectedDevice: null,
      newReminder: false,
      newReminderData: {
        'name': null,
        'time': null,
        'prio': null
      },
      alertMessage: null,
      alertPopup: false,
      reminders: [],
      reminderActions: [],
      loggedin: false,
      themprature: 'not defined'
    }
  },
  methods: {
    getDevices: function(){
      console.log('Getting devices');
      axios.get('/getDevice/0').then(response => (this.devices = response.data.data))
    },
    createNewReminder: function(){
      axios.post('/newReminder', {
        device_id: this.selectedDevice.split('-')[0],
        name: this.newReminderData.name,
        time: this.newReminderData.time,
        prio: this.newReminderData.prio

      })
      .then((response) => {
        console.log(response);
        if(response.statusText == 'OK'){
          this.newReminderData = {
            'device_id': null,
            'name': null,
            'time': null,
            'prio': null
          }
          this.newReminder = false;
          this.alertMessage = 'Created successfuly';
          this.alertPopup = true;
        }
      })
      .catch(function (error) {
        console.log(error);
      });
      this.getReminders(this.selectedDevice);
    },
    getReminders: function(selectedDevice) {
      console.log('getting reminders');
      if(!(selectedDevice == null)){
        let device_id = selectedDevice.split('-')[0];
        axios.get('/getReminder/' + device_id).then(response => (this.reminders = response.data.data))
        
      }
    },
    getReminderActions: function(reminder_id){
      this.reminderActions = [];
      console.log('Getting reminder action data for: ' + reminder_id);
      axios.get('/getReminderAction/' + reminder_id).then(response => (this.reminderActions = response.data.data));
    },
    handleClientLoad: function () {
      this.api.load('client:auth2', this.initClient);
    },
    initClient: function() {
      console.log('init client');
      this.api.client.init({
          apiKey: API_KEY,
          clientId: CLIENT_ID
      }).then(_ => {
        console.log(this.api.auth2);
        this.api.auth2.getAuthInstance().isSignedIn.listen(this.authorized);
      });
    },
    handleAuthClick: function (event) {
      console.log('handleAuthClick');
      Promise.resolve(this.api.auth2.getAuthInstance().signIn())
        .then(_ => {
            this.authorized = true;
        });
    },
    getEvents: function () {
      console.log('getEvents');
      let vm = this;
      vm.api.client.calendar.events.list({
        'calendarId': 'primary',
        'timeMin': (moment(this.filters.start).format('YYYY-MM-DDTHH:mm:ss.SZ')),
        'timeMax': (moment(this.filters.end).format('YYYY-MM-DDTHH:mm:ss.SZ')),
        'showDeleted': false,
        'singleEvents': true,
        'maxResults': 10,
        'orderBy': 'startTime'
      }).then(response => {
        this.items =  response.result.items;
      });
    },
    getWeather: function(position){
      let options = {
        method: 'GET',
        url: 'https://climacell-microweather-v1.p.rapidapi.com/weather/nowcast',
        params: {lat: position.coords.latitude, lon: position.coords.longitude, fields: 'temp'},
        headers: {
          'x-rapidapi-key': 'ea180fd38cmsh3df7b49e7cee998p16fb4fjsn3d83496aa3b8',
          'x-rapidapi-host': 'climacell-microweather-v1.p.rapidapi.com'
        }
      };
      axios.request(options).then((response) => {
        console.log(response.data[0])
        this.themprature = response.data[0].temp.value;
      }).catch(function (error) {
        console.error(error);
      });
    },
  getRemindersDelayed: function(){
    console.log('getting reminders delayed')
    setTimeout(() => { this.getReminders(this.selectedDevice) }, 2000);
  }

  },
  computed: {
    deviceNames: function(){
      return this.devices.map(x => x.espid + " - " + x.user);
    }
  },
  created: function(){
    this.getDevices();
    console.log(window);
    this.api = window.gapi;
    this.handleClientLoad();

    /* Get wheather from API */
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(this.getWeather);
    } else {
      console.log('Geoposition is not supported')
    }
  }
}



</script>
